/*
- Mobile: 375px
- Desktop: 1440px

- Font size: 15px

textos maiores: Josefin Sans
textos menores: Alata

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-alata{
    font-family: 'Alata', sans-serif;
}
.font-josefin{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    background: url('../images/desktop/image-hero.jpg') no-repeat center fixed;
    background-size: cover;
    color: #fff;
    height: 500px;
}
header .logo{
    display: flex;
    align-items: center;
    height: 100px;
}
header .navbar{
    font-size: 400;
    font-size: 15px;

}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: right;
    width: 100%;
}
.navbar nav{
    min-width: 100%;
    max-width: 100%;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar a:hover{
    color: #fff;
}
.navbar li{
    padding: 3% 0;
    margin: 4% auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all .1s ease-in;
}
.navbar li:hover{
    
    border-bottom: 2px solid #fff;
}