/*
- Mobile: 375px
- Desktop: 1440px

- Font size: 15px

textos maiores: Josefin Sans
textos menores: Alata

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-alata {
  font-family: "Alata", sans-serif;
}
.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}
header {
  background: url("../images/desktop/image-hero.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 657px;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100px;
}
header .navbar {
  font-size: 400;
  font-size: 15px;
}
.bdr {
  border: 1px solid #000;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
  width: 100%;
  line-height: 41px;
}
.navbar nav {
  min-width: 100%;
  max-width: 100%;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.navbar li {
  padding: 1% 0;
  margin: 4% auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.1s ease-in;
}
.navbar li:hover {
  border-bottom: 2px solid #fff;
}

.menu-header {
  display: none;
}
.texto-header{
  margin-top: 100px;
  padding: 5%;
  font-
  font-weight: 400;
  border: 1px solid #fff;
}




@media (max-width: 800px) {
  header {
    background: url("../images/mobile/image-hero.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 657px;
  }
  .logo img {
    width: 80%;
  }
  .navbar {
    z-index: 9999;
  }
  .navbar ul {
    background: url("../images/icon-hamburger.svg") no-repeat;
    margin-bottom: 0;
    text-indent: -9999px;
    background-position: center right;
  }
  #btn-menu {
    /*
        background: url('../images/icon-close.svg') no-repeat;*/
    background: none;
    background-position: top 7% right 3%;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    height: 116vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-indent: 1px;
    background-color: #000;
  }
  .menu-open {
    transform: translateX(0);
    transition: all 0.2s linear;
  }
  .menu-close li,
  .menu-close ul,
  .menu-close i {
    transform: translateX(100%);
  }
  .menu-header {
    display: inline-block;
  }
  .menu-header {
    width: 100%;
    border: none;
    margin-bottom: 5%;
  }
  .menu-header-close {
    width: 20px;
    position: relative;
    margin-top: 5%;
    margin-left: 95%;
  }
}
